//.toastProgress {
//    background: #5065A8 !important;
//}

.Toastify__progress-bar {
  background: #5065A8 !important;
}

.Toastify__progress-bar-theme--light {
  background: #fff !important;

}

.Toastify__progress-bar-theme--dark {
  background: #bb86fc !important;

}

.Toastify__progress-bar--info {
  background: #3498db !important;

}

.Toastify__progress-bar--success {
  background: #07bc0c !important;

}

.Toastify__progress-bar--warning {
  background: #f1c40f !important;
}

.Toastify__progress-bar--error {
  background: #e74c3c !important;
}

.white-background {
  background-color: #FFF;
}

.bg-reddit {
  background-color: #ff4500 !important;
}

.bg-twitter {
  background-color: #00acee !important;
}

.bg-youtube {
  background-color: #FF0000 !important;
}

.bg-telegram {
  background-color: #229ED9 !important;
}

.newline-format {
  white-space: pre-line;
}