<!DOCTYPE html>
<% var config = htmlWebpackPlugin || SSRData %>
<!--[if lt IE 7 ]> <html lang="en" class="ie6" <% if(config.files.manifest) { %> manifest="<%= config.files.manifest %>"<% } %>> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="ie7" <% if(config.files.manifest) { %> manifest="<%= config.files.manifest %>"<% } %>> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="ie8" <% if(config.files.manifest) { %> manifest="<%= config.files.manifest %>"<% } %>> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="ie9" <% if(config.files.manifest) { %> manifest="<%= config.files.manifest %>"<% } %>> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="" <% if(config.files.manifest) { %> manifest="<%= config.files.manifest %>"<% } %>> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <title><%= config.options.title || 'React Dashboard'%></title>

  <% if (config.files.favicon) { %>
  <link rel="shortcut icon" href="<%= config.files.favicon%>">
  <% } %>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0, minimal-ui">

  <% for (var css in config.files.css) { %>
  <link href="<%= config.files.css[css] %>" rel="preload" as="style">
  <link href="<%= config.files.css[css] %>" rel="stylesheet">
  <% } %>
  
  <% if (config.options.chunks) { %>
    <%= config.options.chunks.css %>
  <% } %>

  <!-- Loader Style -->
  <style>
    @keyframes spin {
      100% {
        transform: rotate(360deg)
      }
    }
    .initial-loader-wrap {
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: -apple-system, "Helvetica Neue", Helvetica, "Segoe UI", Arial, sans-serif;
      font-size: 12px;
      position: fixed;
      z-index: 99999;
      background-color: white;
      transition: opacity 200ms cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
    .loaded .initial-loader-wrap {
      opacity: 0;
    }
    .initial-loader {
      min-width: 240px;
      color: #212529;
      line-height: 1.5;
    }
    .initial-loader__row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0.5rem;
    }
    .initial-loader__row + .initial-loader__row {
      border-top: 1px solid #e2e2e2;
    }
    .initial-loader h1 {
      margin: 0;
      color: #0D7BFF;
      font-size: 30px;
      font-weight: 600;
      line-height: 1.2;
    }
    .initial-loader svg#loader-circle {
      transform-origin: 50% 50%;
	    animation: spin .5s linear infinite;
    }
  </style>
</head>
<body>
  <!-- START Loader -->
  <div class="initial-loader-wrap">
    <div class="initial-loader">
        <div class="initial-loader__row">
            <svg version="1.0" xmlns="http://www.w3.org/2000/svg"
                 width="99px" height="20px" viewBox="0 0 356.000000 90.000000"
                 preserveAspectRatio="xMidYMid meet">

                <g transform="translate(0.000000,90.000000) scale(0.100000,-0.100000)"
                   fill="#5065A8">
                    <path d="M560 840 c-11 -11 -20 -27 -20 -35 0 -21 36 -55 58 -55 24 0 52 31 52 58 0 21 -34 52 -57 52 -7 0 -22 -9 -33 -20z"/>
                    <path d="M1705 844 c-26 -26 -16 -77 17 -88 55 -19 93 55 46 88 -28 20 -43 20 -63 0z"/>
                    <path d="M2400 525 l0 -335 40 0 40 0 0 173 c0 167 1 174 23 194 34 31 62 43 102 43 90 0 105 -36 105 -250 l0 -160 35 0 35 0 0 180 c0 195 -5 219 -55 258 -54 43 -155 36 -215 -14 l-30 -26 0 136 0 136 -40 0 -40 0 0 -335z"/>
                    <path d="M50 520 l0 -330 45 0 45 0 0 145 0 145 135 0 135 0 0 30 0 30 -135 0 -135 0 0 125 0 125 160 0 160 0 0 30 0 30 -205 0 -205 0 0 -330z"/>
                    <path d="M2955 738 c-9 -91 -12 -97 -51 -104 -24 -4 -34 -12 -34 -25 0 -15 7 -19 34 -19 l35 0 3 -175 3 -175 28 -27 c23 -24 36 -28 81 -27 33 0 63 7 80 17 23 15 24 20 13 37 -7 13 -18 18 -27 14 -32 -14 -71 -16 -85 -4 -12 10 -15 43 -15 176 l0 164 65 0 c63 0 65 1 65 25 0 24 -2 25 -65 25 l-65 0 0 80 0 80 -29 0 c-28 0 -29 -2 -36 -62z"/>
                    <path d="M955 648 c-16 -6 -44 -21 -62 -34 -17 -13 -34 -24 -36 -24 -3 0 -10 14 -16 30 -7 23 -16 30 -35 30 l-26 0 0 -230 0 -230 35 0 35 0 0 170 0 171 28 26 c33 31 63 43 108 43 90 0 104 -33 104 -245 l0 -165 35 0 35 0 0 173 c0 188 -12 238 -62 271 -32 21 -105 28 -143 14z"/>
                    <path d="M1375 650 c-61 -20 -95 -66 -95 -128 0 -58 34 -92 122 -121 120 -40 147 -84 89 -142 -37 -36 -90 -39 -156 -7 -40 19 -47 20 -55 8 -14 -21 -8 -32 27 -52 72 -43 183 -30 240 27 29 29 33 40 33 85 0 67 -30 98 -122 129 -113 38 -139 71 -98 124 28 36 79 44 136 22 47 -18 74 -15 74 9 0 34 -133 66 -195 46z"/>
                    <path d="M2018 651 c-43 -14 -84 -48 -98 -81 -19 -46 -8 -116 25 -150 26 -27 29 -60 7 -60 -5 0 -15 -14 -22 -31 -12 -27 -11 -33 10 -61 21 -29 21 -31 5 -40 -58 -33 -75 -103 -35 -146 40 -43 80 -56 170 -57 72 0 92 4 130 25 79 44 112 124 74 178 -23 34 -57 44 -172 51 -118 8 -144 22 -124 66 11 23 17 25 79 25 81 0 128 20 161 70 21 30 23 43 18 92 l-6 57 33 3 c21 2 33 9 35 21 3 15 -5 17 -58 17 -34 0 -70 4 -80 10 -26 14 -121 21 -152 11z m122 -56 c61 -31 61 -139 0 -170 -101 -52 -208 40 -156 134 27 49 99 65 156 36z m64 -388 c28 -18 34 -53 16 -87 -27 -50 -181 -66 -238 -23 -38 28 -41 75 -7 109 25 25 30 26 114 22 61 -3 97 -9 115 -21z"/>
                    <path d="M3317 646 c-50 -18 -74 -41 -87 -82 -25 -76 14 -127 127 -165 82 -27 118 -59 109 -97 -16 -68 -102 -93 -179 -52 -46 25 -54 25 -67 0 -9 -17 -5 -22 30 -40 83 -42 182 -35 242 19 26 23 32 37 36 82 6 74 -13 95 -124 139 -65 26 -92 42 -103 62 -14 25 -14 29 5 55 31 41 75 50 139 28 29 -9 58 -14 64 -11 21 13 11 32 -26 50 -50 24 -120 29 -166 12z"/>
                    <path d="M560 420 l0 -230 35 0 35 0 0 230 0 230 -35 0 -35 0 0 -230z"/>
                    <path d="M1700 420 l0 -230 35 0 35 0 0 230 0 230 -35 0 -35 0 0 -230z"/>
                </g>
            </svg>

            <svg
                    version="1.1"
                    id="loader-circle"
                    xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                    width="30px" height="30px" viewBox="0 0 40 40" enable-background="new 0 0 40 40"
                    xml:space="preserve"
            >
            <g>
                <path
                    fill="#e7e7e7"
                    d="M20.201,5.169c-8.254,0-14.946,6.692-14.946,14.946c0,8.255,6.692,14.946,14.946,14.946s14.946-6.691,14.946-14.946C35.146,11.861,28.455,5.169,20.201,5.169z M20.201,31.749c-6.425,0-11.634-5.208-11.634-11.634c0-6.425,5.209-11.634,11.634-11.634c6.425,0,11.633,5.209,11.633,11.634C31.834,26.541,26.626,31.749,20.201,31.749z"
                />
                <path
                    fill="#5065A8"
                    d="M26.013,10.047l1.654-2.866c-2.198-1.272-4.743-2.012-7.466-2.012h0v3.312h0C22.32,8.481,24.301,9.057,26.013,10.047z"
                >
                </path>
            </g>
        </svg>
      </div>
      <div class="initial-loader__row">
        Please Wait. Loading...
      </div>
    </div>
  </div>

  <script>
    (function() {
        var bodyElement = document.querySelector('body');
        bodyElement.classList.add('loading');

        document.addEventListener('readystatechange', function() {
            if(document.readyState === 'complete') {
                var bodyElement = document.querySelector('body');
                var loaderElement = document.querySelector('.initial-loader-wrap');
                bodyElement.classList.add('loaded');
                setTimeout(function() {
                    bodyElement.removeChild(loaderElement);
                    bodyElement.classList.remove('loading', 'loaded');
                }, 200);
            }
        });
    })();
  </script>
  <!-- END Loader -->

  <div id="root"><%= config.innerHtml || '' %></div>

  <% for (var chunk in config.files.chunks) { %>
  <script src="<%= config.files.chunks[chunk].entry %>" defer></script>
  <% } %>

  <% if (config.options.devServer) { %>
  <script src="<%= config.options.devServer%>/webpack-dev-server.js"></script>
  <% } %>
</body>
</html>